label {
  margin: 10px 0px;
  display: block;
}
 input {
   max-width: 100%;
 }

.gif {
  font-size: 17px;
  margin: 10px 10px 15px 0px;
}

.jumbotron h1 {
  font-size: 53px;
}
.sidebar {
  margin: 15px 0px 15px 10px;
  padding: 5px 20px;
  border: 2px solid #337ab7;
  border-radius: 5px;
}

#gif-input {
  margin-bottom: 20px;
  width: 100%;
  padding: 5px 10px;
}

#add-gif {
  margin-bottom: 15px;
}

img {
  width: 350px;
  height: 250px;
}